html, body{
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

p, h6 {
  font-size: 0.8em;
}

td, th{
  font-size: 0.9em;
}

a {
  text-decoration: none!important;
  color: #08BBF1;
}
a:hover{
  color: #FFC020;
  font-weight: 600;
}

h5, label {
  font-size: 0.9em;
}

.btn-primary:hover {
  background-color: #14315B!important;
  outline: 0;
}

.bg-white, .transparent{
  flex:1 0 auto;
}

.footer{
  flex: none;
}

.bg {
  background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://images.pexels.com/photos/1262971/pexels-photo-1262971.jpeg?cs=srgb&dl=american-casual-cellphone-1262971.jpg&fm=jpg); 
  background-size: cover;
  background-color: #000;
}

.card-hover .card, .card-hover .logo {
  transition: 0.2s ease-in-out;
}

.card-hover .card:hover {
  margin-top: -10px;
}

.card-hover .logo:hover {
  margin-top: -15px;
}

.borderless td, .borderless thead th {
    border: none;
}

.card {
  border-radius: 15px;
}

.base {
  color: #14315B;
}

.bg-base ,.dropdown-item.active, .dropdown-item:active {
  background-color: #14315B;
}

.accent {
  color: #08BBF1;
}

.bg-accent {
  background-color: #08BBF1;
  border: none;
}

.base-font {
  font-size: 0.8em;
}

.pagination, .dataTables_info {
  font-size: 0.8em;
}
.modal-header{
  border-bottom: none;
  padding: 1em 1em 0 1em;
}

.page-item.active .page-link{
    background-color: #08BBF1;
    border-color: #08BBF1;    
}
/*Inputs*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  font-weight: 600;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
}

/*Toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #08BBF1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 17px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CCCCCC;
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-13px);
  -ms-transform: translateX(-13px);
  transform: translateX(-13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 100%;
}


